.page--referral {
  .landing__wrapper--headeer {
    position: relative;

    &:before {
      content: url("~@/assets/landing/circle_one.svg");
      display: block;
      position: absolute;
      left: -45px;
      top: 40px;
    }

    .container {
      position: relative;

      .circle--1 {
        width: 25px;
        height: 25px;
        opacity: 0.66;
        border: solid 3px #00b1fa;
        border-radius: 50%;
        top: 340px;
        left: -100px;
        position: absolute;
      }
    }
  }

  .landing__wrapper--block {
    position: relative;

    &:before {
      content: url("~@/assets/landing/circle_one.svg");
      display: block;
      position: absolute;
      right: -45px;
      bottom: 40px;
    }

    .container {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        right: -121px;
        bottom: 37px;
        width: 133px;
        height: 80px;
        background: url("~@/assets/referral/lots_dots.svg");
        background-size: cover;
        background-repeat: no-repeat;
      }

      .circle--1 {
        width: 56px;
        height: 56px;
        opacity: 0.66;
        border: solid 3px #00b1fa;
        border-radius: 50%;
        bottom: 0;
        position: absolute;
        left: -50px;
      }
    }
  }


  .landing__wrapper--2 {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 75px;
      left: -67px;
      width: 133px;
      height: 80px;
      background: url("~@/assets/referral/lots_dots.svg");
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  .full-width {
    width: 100%;
  }

  .gilroy-bold {
    font-family: "Gilroy-Bold";
  }

  .gilroy-semibold {
    font-family: "Gilroy-SemiBold";
  }

  .gilroy-regular {
    font-family: "Gilroy-Regular", sans-serif;
  }

  .gilroy-medium {
    font-family: "Gilroy-Medium", sans-serif;
  }

  .landing__section {
    position: relative;
    padding-top: 100px;
    margin: 0 auto;

    section {
      width: 100%;
    }

    h2 {
      font-size: 44px;
      font-family: "Gilroy-Bold";
      font-stretch: normal;
      font-style: normal;
      line-height: 1.25;
      letter-spacing: -0.96px;
      text-align: left;
      color: #0e3178;
      position: relative;
    }

    h1 {
      text-align: left;
      font-size: 61px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.59;
      letter-spacing: -1.22px;
      color: #00aeef;
    }

    span {
      display: block;
      margin-top: 8px;
      height: 82px;

      font-family: "Gilroy-Bold";
      font-size: 82px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.88;
      letter-spacing: -1.64px;
      text-align: left;
      color: #0e3178;
    }

    button {
      margin-top: 40px;
      width: 284.3px;
      height: 63.5px;
      font-family: "Gilroy-Medium", sans-serif;
      font-size: 18px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.44;
      letter-spacing: -0.18px !important;
      text-align: left;
      color: #ffffff;
      border-radius: 30px !important;
      background-color: #00b1fa;
    }

    p {
      width: 480px;
      opacity: 0.5;
      font-family: "Gilroy-Medium", sans-serif;
      font-size: 18px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.54;
      letter-spacing: normal;
      text-align: left;
      color: #040404;
      margin: 0;
    }
  }

  .landing__section--header {
    padding-bottom: 100px;

    section {
      &:before {
        content: '';
        position: absolute;
        left: 46px;
        top: 137px;
        width: 133px;
        height: 80px;
        background: url("~@/assets/referral/lots_dots.svg");
        background-size: cover;
        background-repeat: no-repeat;
      }
    }

    .circle--1 {
      height: 25px;
      width: 25px;
      border-radius: 50%;
      display: block;
      right: 20px;
      top: 100px;
      opacity: 0.4;
      border: solid 3px #00b1fa;
      position: absolute;
    }

    .circle--2 {
      height: 25px;
      width: 25px;
      border-radius: 50%;
      display: block;
      left: 100px;
      bottom: 100px;
      opacity: 0.11;
      border: solid 3px #292929;
      position: absolute;
    }

    .circle--3 {
      width: 18px;
      height: 18px;
      opacity: 0.11;
      border: solid 2px #000000;
      border-radius: 50%;
      top: 180px;
      position: absolute;
      left: -100px;
    }
  }

  .content {
    padding: 0 16px;

    .title {
      font-family: "Gilroy-Bold";
      font-size: 24px;
      line-height: 1.5;
      color: #040404;
      margin-left: 32px;
      opacity: 1;
    }

    p {
      font-family: "Gilroy-Medium", sans-serif;
      font-size: 18px;
      line-height: 1.44;
      color: #040404;
      margin-left: 32px;
      opacity: 0.5;
    }
  }

  .image {
    width: 100%;
    height: 320px;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .section {
    margin-left: -16px;
    margin-right: -16px;
    display: flex;
    flex: 1 1 auto;
  }

  .image-1 {
    background-image: url("~@/assets/referral/illustration_one.svg");
  }

  .image-2 {
    background-image: url("~@/assets/referral/illustration_two.svg");
  }

  .image-3 {
    background-image: url("~@/assets/referral/illustration_three.svg");
  }

  .landing__section--1 {
    padding-top: 200px;
    background-image: url("~@/assets/referral/illustration_four.svg");
    width: 100%;
    max-width: 960px;
    background-position: left 160px;
    background-repeat: no-repeat;
    background-size: 436px;

    h2 {
      position: relative;
      margin-bottom: 24px;
    }

    h4 {
      position: relative;
      margin-bottom: 36px;
      font-size: 26px;
      line-height: 37px;
      font-family: "Gilroy-Medium", sans-serif;
      color: #333333;
    }

    .circle--1 {
      width: 26px;
      height: 26px;
      opacity: 0.4;
      border: solid 3px #00b1fa;
      position: absolute;
      border-radius: 50%;
      bottom: 100px;
      right: -100px;
    }
  }

  .landing__section--2 {
    background-image: url("~@/assets/referral/illustration_five.svg");
    width: 100%;
    max-width: 960px;
    background-position: right 90px;
    background-repeat: no-repeat;
    background-size: 460px;
    padding-bottom: 360px;

    h2 {
      position: relative;
      margin-bottom: 24px;
    }

    h4 {
      position: relative;
      margin-bottom: 36px;
      font-size: 26px;
      line-height: 37px;
      font-family: "Gilroy-Medium", sans-serif;
      color: #333333;
    }
  }

  .divider {
    width: 100px;
    height: 2px;
    background-color: #0E3178;
    margin-bottom: 36px;
  }
}
